* {
    margin: 0px;
    padding: 0;
}
body {
    font-family: arial, helvetica, sans-serif;;
}

.bg-grey {
    background: #f7f7f7;
}
.text-blue {
    color: #199CDB;
}
.text-uppercase {
    text-transform: uppercase;
}
.box-tablet {
    display: none;
}

#personal-info {
    display: none;
}

/*---------COMMON-------------*/
.label-blue {
    display: inline-block;
    color: #fff;
    background-color: #199CDB;
    border-radius: 15px;
    padding: 0 12px;
}
.sub-text {
    font-size: 0.8em;
    color: #8f8b98;
}
.progress-active {
    background-color: #199cdb;
    display: inline-block;
    height: 2px;
    margin-right: 10px;
    width: 45px;
}

.progress-grey {
    background-color: #ccc;
    display: inline-block;
    height: 2px;
    margin-right: 10px;
    width: 45px;
}
/*------------Nav bar------------*/

.topnav {
    overflow: hidden;
    padding: 0 2%;
    text-align: center;
}
.topnav div {
    text-align: center;
}
  
  /* Style the links inside the navigation bar */
.topnav a {
    float: left;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 55px;
    width: 16%;
    text-decoration: none;
    font-size: 17px;
    color: #000;
    border-left: 1px solid #ccc;
    height: 30px !important;
}
.topnav a:nth-child(3) {
    padding-top: 0;
    width: 32%;
    border-left: none;
}

#banner {
    background-image: url('../images/banner.jpg');
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#banner .box-name {
    text-align: center;
    color: #fff;
}
/*-----------Target----------*/
#about>div {
    margin-right: 0;
    margin-left: 0;
}
#about #target {
    padding-left: 10%;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f5f5f5;
}
#about #personal-info {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 5%;
    background-color: #f0f0f0;
}

#about #form-email{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 5%;
    background-color: #f0f0f0;
}

#about #personal-info ul {
    list-style: none;
    padding-left: 0;
}
#about h1 {
    margin-bottom: 40px
}
#about p, li{
    line-height: 32px;
}
#about .social li{
    float: left;
}
/*------------job-info-------------*/
#job-info .container>div h1 {
    padding-top: 30px;
    font-weight: normal;
}
#job-info .container>div h1 span {
    padding-top: 15px;
}
#job-info .col-md-12 {
    margin-bottom: 30px;
}

#job-info .container>div>div {
    padding-top: 30px;
}
#job-info .container>div>div>div {
    border: 1px solid #ccc;
    padding: 30px;
}
#job-info .container>div>div .list-jobs {
    padding-left: 15px;
}
#job-info .container>div>div li ul {
    list-style: none;
}
#job-info .title-job {
    font-weight: bold;
}
.box-skill {
    margin-bottom: 20px;
}
.hobby {
    display: flex;
}
.hobby>div {
    margin-right: 15px;
}
.hobby span {
    width: 45px;
    height: 45px;
    padding-left: 8px;
    padding-top: 4px;
    font-size: 28px;
    border-radius: 50%;
    border: 1px solid #199cdb;
    display: inline-block;
    margin-bottom: 15px;
}
.hobby p {
    text-align: center;
}
#job-info .item-job {
    min-height: 175px;
}

#job-info .item-job .box-header h1 {
    position: absolute;
}

#job-info .item-job .box-header i {
    position: relative;
    font-size: 40px;
    left: 85%;
    top: -10px;
}

#job-info .item-job:hover .i-j-actions {
    display: block;
}

.i-j-title {
    height: 80px;
}

.i-j-title, .i-j-actions span {
    cursor: pointer;
}
.i-j-actions {
    margin-bottom: 5px;
    display: none;
}

/*---------------BOX-CERT--------------------*/
.section-title {
    padding: 20px 0;
}
.box-cert {
    padding-top: 20px;
}
.box-item-cert {
    margin-bottom: 20px;
    border-bottom: 1px solid #e2d4b3;
    padding-bottom: 10px;
}
.box-item-cert>div:first-child {
    padding-left: 2%;
}
.box-item-cert>div:first-child img {
    width: 100%;
}

.box-cert .box-item-cert:nth-child(even) {
    border-left: 1px solid #e2d4b3;
    padding-left: 10px;
}

.box-item-cert>div:last-child {
    padding-left: 20px;
}
/*------------project-----------*/
#project h1 {
    margin-bottom: 20px;
}
.img-project {
    padding-left: 0;
    padding-right: 0;
}

#project .box-projects .project-title, #project .box-projects .project-campain {
    padding: 10px;
    /* border-bottom: 1px solid #ccc; */
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

#project .box-projects .project-campain .p-c-year {
    width: 30%;
    float: left;
}
#project .box-projects .project-campain .p-c-detail {
    width: 70%;
    float: left;
    display: flex;
}

#project .box-projects .item-project {
    margin-bottom: 20px;
}

#project .box-projects table {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-collapse: collapse; 
}
#project .box-projects table tr {
    border-bottom: 1px solid #ccc;
}

#project .box-projects table td {
    padding: 10px;
}
/*----------------Footer----------------*/
#footer {
    padding-top: 20px;
    padding-bottom: 20px;
}
#footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
#footer ul li{
    color: #34a7de;
    margin-right: 20px;
    text-align: center;
    display: flex;
}
#footer ul li i {
    font-size: 30px;
    
}

.display-none {
    display: none;
}
